.call-action {
  background-color: $white;
  display: flex;
  justify-content: space-between;

  &--inner {
    background-color: $gray;
  }
}

.call-action__title {
  @include font("Oswald");
  color: $call-color;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0 20px 0 0;
}

.call-action__text {
  color: $light-black;
  margin: 0;
}

@media screen and ($mobile-end) {
  .call-action {
    padding: 28px 20px 27px;
    align-items: center;
  }

  .call-action__title {
    font-size: 16px;
    line-height: 20px;
  }

  .call-action__text {
    font-size: 14px;
    line-height: 20px;

    span {
      display: block;
    }
  }
}

@media screen and ($tablet-start) {
  .call-action__title {
    font-size: 20px;
    line-height: 23px;
  }

  .call-action__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and ($tablet-start) and ($tablet-end) {
  .call-action {
    padding-left: 70px;
    padding-right: 68px;
    padding-top: 66px;
    padding-bottom: 55px;
  }

  .call-action__text {
    text-align: right;
    margin-top: -5px;

    span {
      display: block;
      margin-top: 20px;
    }
  }
}

@media screen and ($pc-start) {
  .call-action {
    padding: 61px 87px 51px 76px;
    min-width: 570px;
    box-sizing: border-box;
  }

  .call-action__title {
    margin-top: 4px;
  }

  .call-action__text {
    span {
      display: block;
      margin-top: 20px;
    }
  }
}
