.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and ($mobile-end) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and ($tablet-start) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
