.field-text {
  display: block;
}

.field-text__label {
  @include font("Oswald");
  color: $light-black;
  text-transform: uppercase;
  margin-right: 14px;
}

.field-text__wrapper {
  display: flex;
  align-items: center;
}

.field-text__input {
  @include font("Oswald");
  border: 1px solid $field-border-color;
  width: 100%;
  box-sizing: border-box;
  user-select: none;

  &:hover {
    border-color: $input-radio-hover-color;
  }

  &:focus {
    border: 1px solid $light-black;
    outline: 1px solid $light-black;
  }

  &:focus + .field-text__icon--mail {
    stroke: $green;
  }

  &:focus + .field-text__icon--phone {
    fill: $green;
  }

  &--error {
    border: 1px solid $error;
    outline: 1px solid $error;
  }
}

.field-text__icon {
  &--mail {
    width: 20px;
    height: 15px;
    margin-left: -34px;
    stroke: $black;
  }

  &--phone {
    width: 20px;
    height: 21px;
    margin-left: -31px;
    fill: $black;
  }
}

@media screen and ($mobile-end) {
  .field-text__label,
  .field-text__input {
    font-size: 16px;
    line-height: 18px;
  }

  .field-text__input {
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
  }
}

@media screen and ($tablet-start) {
  .field-text__label,
  .field-text__input {
    font-size: 20px;
    line-height: 30px;
  }

  .field-text__input {
    padding-left: 18px;
    padding-right: 18px;
    height: 52px;
  }
}
