.field-radio__text {
  @include font("Oswald");
  color: $input-radio-color;
  text-transform: uppercase;
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 7px;
  cursor: pointer;
}

.field-radio__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid $input-radio-border-color;
  border-radius: 50%;
  box-sizing: border-box;
}

.field-radio__input:checked + .field-radio__text::after {
  content: "";
  position: absolute;
  background-color: $green;
  border-radius: 50%;
}

.field-radio__input:disabled + .field-radio__text {
  opacity: 0.3;
}

@media screen and ($mobile-end) {
  .field-radio__text {
    font-size: 16px;
    line-height: 18px;
    min-height: 30px;
    padding-left: 45px;
  }

  .field-radio__text::before {
    width: 30px;
    height: 30px;
  }

  .field-radio__input + .field-radio__text::after {
    left: 8px;
    top: 8px;
    width: 13px;
    height: 13px;
  }
}

@media screen and ($tablet-start) {
  .field-radio__text {
    font-size: 20px;
    line-height: 30px;
    padding-left: 58px;
    min-height: 40px;
  }

  .field-radio__text::before {
    width: 40px;
    height: 40px;
  }

  .field-radio__input + .field-radio__text::after {
    left: 11px;
    top: 11px;
    width: 18px;
    height: 18px;
  }
}
