.field-notification__input {
  @include font("Oswald");
  border: 1px solid $field-border-color;
  width: 100%;
  box-sizing: border-box;
  color: $light-black;
  text-transform: uppercase;
}

@media screen and ($mobile-end) {
  .field-notification__input {
    font-size: 16px;
    line-height: 18px;
    min-height: 150px;
    padding: 9px 15px;
  }
}

@media screen and ($tablet-start) {
  .field-notification__input {
    font-size: 20px;
    line-height: 30px;
    min-height: 174px;
    padding: 10px 19px;
  }
}
