.home-category__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home-category__item {
  display: grid;
  grid-template-areas: "image title" "text text" "link link";
  background-color: $gray;
  position: relative;

  &::before {
    content: "";
    background-repeat: no-repeat;
    grid-area: image;
  }

  &--slim {
    &::before {
      background-image: url("../../img/svg/category-slim.svg");
    }
  }

  &--pro {
    &::before {
      background-image: url("../../img/svg/category-pro.svg");
    }
  }
}

.home-category__title {
  @include font("Oswald");
  color: $black;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 29px;
  grid-area: title;
}

.home-category__description {
  font-family: $font-default;
  grid-area: text;
  margin-top: 0;
}

.home-category__link {
  @include font("Oswald");
  color: $black;
  text-transform: uppercase;
  text-decoration: none;
  grid-area: link;

  &:active {
    opacity: 0.3;
  }
}

@media screen and ($mobile-end) {
  .home-category__item {
    padding: 20px;
    margin-bottom: 21px;
    grid-template-columns: 68px 1fr;

    &::before {
      width: 68px;
      height: 50px;
      background-position: center;
      margin-left: -10px;
    }
  }

  .home-category__title {
    font-size: 24px;
    line-height: 37px;
  }

  .home-category__description {
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 23px;
    margin-bottom: 15px;
    border-bottom: 1px solid $category-border-color;
  }

  .home-category__link {
    font-size: 16px;
    line-height: 16px;
  }
}

@media screen and ($tablet-start) {
  .home-category__item {
    padding: 52px;
    margin-bottom: 30px;
  }

  .home-category__title {
    font-size: 36px;
    line-height: 36px;
  }

  .home-category__description {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and ($tablet-start) and ($tablet-end) {
  .home-category__item {
    grid-template-areas: "title image" "text image" "link image";
    grid-template-columns: 1fr 246px;

    &::before {
      width: 270px;
      height: 210px;
      background-size: contain;
      background-position: center;
    }
  }
}

@media screen and ($pc-start) {
  .home-category__list {
    display: flex;
    flex-wrap: wrap;
  }

  .home-category__item {
    width: 570px;
    box-sizing: border-box;
    margin-right: 80px;
    grid-template-columns: 160px 1fr;

    &::before {
      width: 134px;
      height: 107px;
      background-size: contain;
    }
  }

  .home-category__item:nth-child(2n) {
    margin-right: 0;
  }

  .home-category__title {
    margin-bottom: 73px;
  }
}
