.how-work__title {
  @include font("Oswald");
  color: $black;
  font-weight: 400;
  margin-top: 0;
}

.how-work__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.how-work__icon {
  flex-shrink: 0;
  background-color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-work__text {
  color: $light-black;
  margin: 0;
}

@media screen and ($mobile-end) {
  .how-work__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 38px;
  }

  .how-work__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  .how-work__icon {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }

  .how-work__text {
    @include text-default-mobile;
  }
}

@media screen and ($tablet-start) {
  .how-work__list {
    display: flex;
    flex-wrap: wrap;
    counter-reset: item;
  }

  .how-work__item {
    position: relative;
    min-height: 228px;

    &::before {
      @include font("Oswald");
      counter-increment: item;
      content: counter(item);
      font-size: 280px;
      line-height: 280px;
      position: absolute;
      left: 116px;
      top: -40px;
      color: $gray;
      z-index: -1;
    }
  }

  .how-work__icon {
    width: 80px;
    height: 80px;
  }

  .how-work__text {
    @include text-default-desctop;
  }

  .how-work__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 70px;
  }
}

@media screen and ($tablet-start) and ($tablet-end) {
  .how-work__list {
    margin-top: -80px;
  }

  .how-work__item {
    width: 36%;
    margin-top: 80px;
    margin-right: 126px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .how-work__icon {
    margin-bottom: 30px;
  }
}

@media screen and ($pc-start) {
  .how-work__list {
    justify-content: space-between;
  }

  .how-work__item {
    width: 245px;
  }

  .how-work__icon {
    margin-bottom: 35px;
  }
}
