.logo-academy {
  color: $light-black;
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;

  svg {
    fill: $svg-color;
  }

  &:hover {
    svg {
      fill: $green;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and ($mobile-end) {
  .logo-academy {
    justify-content: space-between;
  }
}

@media screen and ($tablet-start) {
  .logo-academy {
    justify-content: flex-end;

    svg {
      margin-left: 20px;
    }
  }
}

@media screen and ($tablet-start) {
  .logo__text {
    display: none;
  }
}
