.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and ($mobile-end) {
  .page-header__container {
    padding-top: 12px;
    padding-bottom: 16px;
  }

  .page-header__logo {
    flex-grow: 1;
  }
}

@media screen and ($tablet-start) {
  .page-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}

@media screen and ($pc-start) {
  .page-header {
    height: 120px;
    position: relative;
    z-index: 2;
  }
}
