.page {
  height: 100%;
  font-family: $font-default;
  font-weight: 400;
  min-width: 320px;
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  img {
    max-width: 100%;
    height: auto;
  }
}
