.product-card__title {
  @include font("Oswald");
  color: $product-title-color;
  text-transform: uppercase;
  margin-top: 0;
}

.products__more-title {
  @include font("Oswald");
  text-transform: uppercase;
  color: $products-more-title-color;
  font-weigth: 400;
}

.products__more-subtitle {
  color: $light-black;
  margin-bottom: 21px;
}

.product-card__button {
  width: 100%;
  max-width: 100%;
}

@media screen and ($mobile-end) {
  .product-card {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .product-card__image {
    width: 120px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 0;
  }

  .product-card__info {
    width: 50%;
    flex-grow: 1;
  }

  .product-card__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 14px;
  }

  .product-card__button {
    margin-top: 25px;
  }

  .products__more-title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .products__more-subtitle {
    font-size: 12px;
    line-height: 16px;
  }
}

@media screen and ($tablet-start) {
  .product-card {
    background-color: $gray;
    padding: 40px 38px;
  }

  .product-card__image {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    outline: 1px solid;
  }

  .products__more-title {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 23px;
  }

  .products__more-subtitle {
    font-size: 16px;
    line-height: 18px;
  }
}

@media screen and ($tablet-start) and ($tablet-end) {
  .product-card__image {
    height: 200px;
    margin-top: -90px;
    margin-bottom: 34px;
  }

  .product-card__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
  }
}

@media screen and ($pc-start) {
  .product-card__title {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 20px;
  }

  .product-card__image {
    height: 196px;
    margin-top: -80px;
    margin-bottom: 46px;
  }
}
