.promo__title {
  @include font("Oswald");
  font-weight: 400;
  margin-top: 0;
}

.promo__text {
  @include font("Oswald");
  text-transform: uppercase;
}

@media screen and ($mobile-end) {
  .promo {
    padding-bottom: 20px;
  }

  .promo__container {
    display: flex;
    flex-direction: column;
  }

  .promo__description {
    padding-top: 27px;
    padding-bottom: 148px;
    background-image: url("../img/promo-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 302px;
    box-sizing: border-box;
    margin-left: -20px;
    margin-right: -20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $promo-background;
    }
  }

  .promo__title {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: $white;
    margin-bottom: 23px;
    position: relative;
    z-index: 1;
  }

  .promo__text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $white;
    position: relative;
    z-index: 1;
  }

  .promo__image {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -136px;
  }

  .promo__button {
    padding-top: 11px;
    padding-bottom: 11px;
    width: 100%;
    order: 1;
    margin-top: 5px;
  }
}

@media screen and ($tablet-start) {
  .promo__container {
    display: flex;
    flex-direction: column;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    margin-bottom: 38px;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }
}

@media screen and ($tablet-start) and ($tablet-end) {
  .promo__container {
    picture {
      order: 2;
      font-size: 0;
    }
  }

  .promo__text {
    margin-bottom: 46px;
  }

  .promo__image {
    margin-top: -82px;
  }

  .promo__button,
  .promo__description {
    position: relative;
    z-index: 1;
  }

  .promo__button {
    margin-left: 80px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 240px;
  }

  .promo__description {
    margin-left: 82px;
  }
}

@media screen and ($pc-start) {
  .promo {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -153px;
      bottom: 0;
      right: 0;
      width: 50%;
      background-color: $promo-background;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -153px;
      bottom: 0;
      right: 0;
      width: 50%;
      background-image: url("../img/promo-background-desctop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .promo__container {
    position: relative;
    z-index: 1;
    min-height: 552px;
    margin-bottom: 54px;
  }

  .promo__description {
    width: 550px;
    padding-top: 82px;
    padding-left: 82px;
  }

  .promo__text {
    margin-bottom: 52px;
  }

  .promo__image {
    position: absolute;
    right: 250px;
    top: 0;
  }

  .promo__button {
    margin-left: 82px;
    width: 245px;
    padding-left: 24px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
