.promo__title {
  @include font("Oswald");
  font-weight: 400;
}

.promo__text {
  @include font("Oswald");
  text-transform: uppercase;
}

@media screen and ($mobile-end) {
  .promo {
    padding-bottom: 20px;
  }

  .promo__description {
    padding-top: 27px;
    padding-bottom: 148px;
    background-image: url("../img/promo-background-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 302px;
    box-sizing: border-box;
    margin-left: -20px;
    margin-right: -20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $promo-background;
    }
  }

  .promo__title {
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: $white;
    margin-bottom: 25px;
    position: relative;
    z-index: 1;
  }

  .promo__text {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $white;
    position: relative;
    z-index: 1;
  }

  .promo__image {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -138px;
  }

  .promo__button {
    padding-top: 11px;
    padding-bottom: 11px;
    max-width: 100%;
  }
}

@media screen and ($tablet-start) {
  .promo__container {
    display: flex;
    flex-direction: column;
  }

  .promo__description {
    order: 1;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    margin-bottom: 40px;
  }

  .promo__text {
    font-size: 20px;
    line-height: 20px;
    color: $black;
  }

  .promo__image {
    order: 3;
  }

  .promo__button {
    order: 2;
    max-width: 244px;
  }
}

@media screen and ($tablet-start) and ($tablet-end) {
  .promo__text {
    margin-bottom: 49px;
  }
}

@media screen and ($pc-start) {
  .promo {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -120px;
      bottom: 0;
      right: 0;
      width: 50%;
      background-color: $promo-background;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -120px;
      bottom: 0;
      right: 0;
      width: 50%;
      background-image: url("../img/promo-background-desctop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .promo__container {
    display: grid;
    grid-template-columns: 520px 500px;
    position: relative;
    z-index: 1;
  }

  .promo__button {
    grid-row: 2/3;
  }

  .promo__text {
    margin-bottom: 52px;
  }
}
