.properties__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.properties__name,
.properties__value {
  color: $light-black;
}

@media screen and ($mobile-end) {
  .properties__name,
  .properties__value {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 4px;
  }
}

@media screen and ($tablet-start) {
  .properties__item {
    padding-bottom: 8px;
    margin-bottom: 7px;
    border-bottom: 1px solid $properties-border-color;
  }

  .properties__name,
  .properties__value {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 4px;
  }
}
